.chat-window{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*HEADER*/
.chat-window-header{
  height: 60px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window-header-info{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.window-avatar{
  width: 40px;
  border-radius: 50%;
  margin: 0 15px;
}
.window-name{
  font-size: 1rem;
  color: #000;
}
.window-header-buttons{
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.window-btn{
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: all ease .4s;
}

/*BODY*/
.chat-window-body{
  flex: 1;
  overflow-y: auto;
  background-color: #E5DDD5;
  background-size: cover;
  background-position: center;
  background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  padding: 20px 30px;
}


/*CHAT FOOTER*/
.chat-window-footer{
  height: 62px;
  display: flex;
  align-items: center;
}
.chat-window-pre{
  display: flex;
  margin: 0 15px;
}
.chat-window-input{
  flex: 1;
}
.window-input{
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background-color: #FFF;
  font-size: .9rem;
  padding: 10px;
  outline: 0;
}
.chat-window-pos{
  display: flex;
  margin: 0 15px;
}


/*EMOJI AREA*/ 
.chat-window-emojiArea{
  overflow-y: hidden;
  transition: all ease .4s;
}
aside.EmojiPickerReact {
  width: auto !important;
}
.EmojiPickerReact .emoji-group::before{
  background: black;
}


/*scrool bar*/
.chat-window-body::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
.chat-window-body::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0, .2);
}